form {
    width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
input {
    line-height: 1.4rem;
    font-size: 1.2rem;
    padding: 5px 10px;
}

input[type="file"] {
    background-color: gray;
}
.form {
    display: inline-block;
    padding-top: 20px;
}

.file-submit {
    margin-left: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

.form label {
    width: 400px;
    display: inline-block;
    font-size: 1.2rem;
}

.form input {
    width: 400px;
    display: inline-block;
}
.form-upload {
    padding-top: 20px;
}
.form-upload input {
    padding: 5px 10px;
}